*{
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
   
}
header{
  /*   background-image: url(/images/donation6.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 90%;
    background-image: url(../images/donation6.jpg);
    margin-bottom: 80px;
 
    
  
  }  

.header-title{
    padding: 150px 200px 0px;
    text-align: center;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}
.header-sub-title{
    color: rgba(240, 235, 235, 0.918);
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
}
button{
    color: rgba(245, 243, 244, 0.911);
    padding: 10px 16px;
    background-color: rgb(197, 90, 90);
    margin-bottom: 60px;
     border-radius: 8px;
    box-shadow: none;
     border: 1 silver;
     }
     
 .btn-donate{
    text-align: center;
   
 }   
     /* main section   */
     section .buttons{
        display: flex;
        gap: 5px;
        margin: 10px 0px;
        justify-content: center;
        
        
     }
     section .buttons button{
        color: rgb(77, 74, 74);
        font-weight:bold ;
        font-size: larger;
        border: 0;
        padding: 10px;
        width: 70px;
        height: 70px;
        background-color: antiquewhite;
        ;
        margin-top: 20px;
        margin-bottom: 20px;
        
     }
     
.mid-part{
    text-align: center;
}
#other-amount{
    color: rgba(46, 15, 15, 0.411);
    margin-top: 0;
    margin-bottom: 10px;
}
hr{
    color: rgba(41, 24, 24, 0.315);
    margin-top: 0;
    margin-bottom: 5px;}
    
.title{
    color: rgb(17, 11, 11);
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.title-description{
    color: rgba(15, 1, 1, 0.562);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
}
.task-details{
    display:flex;
    
    margin-top: 20px;

}
.task{
    background-color:rgba(155, 199, 226, 0.274);
    margin: 20px;
}
.task-title{
    color: rgb(17, 11, 11);
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.task-description{
    color: rgba(15, 1, 1, 0.562);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300; 
    padding: 60px 20px;
}
.task img{
    width: 30px;
    height: 30px;
    margin-top: 20PX;
    margin-right: 110px;
}
.abc{
    display: flex;
    gap: 70px;
    margin-top: 60px;
}
.abc img{
    width: 100%;
    height: 100%;
    margin-right: 20px;
}
.abc-body{
    padding-bottom: 10px;
    padding-top: 30px;
    margin-left: 20px;
}
.abc-title{
    text-align: left;
    color: rgb(17, 11, 11);
    font-size: large;
    font-weight: bolder;
    margin-left: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.abc-description{
    color: rgba(15, 1, 1, 0.562);
    margin-left: 5px;
    text-align:left;
    font-weight: 300; 
    width: auto;
    height: auto;
    padding-right: 70px;
    
}
.abc button{
    margin-right: 190px;
}
